{%extends 'layout.html'%}
{%block content%}

<!-- Begin Page Content -->
<div class="container-fluid">
  {%with messages= get_flashed_messages(with_categories=true)%}
  {%if messages%}
  {%for category,message in messages%}
  <div class="alert alert-{{category}} alert-dismissible fade show",role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {%endfor%}
  {%endif%}
  {%endwith%}
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">GUARANTOR PROFILE</h1>
    <div class="d-none d-sm-inline-block">
      <a href="{{url_for('staff.guarantor_verdict',loan_id=loan_id,member_id=member.id,verdict='DECLINED')}}" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm mr-3"><i class="fas fa-arrow-alt-circle-down fa-sm text-white-50"></i> Decline Guarantor</a>
      <a href="{{url_for('staff.guarantor_verdict',loan_id=loan_id,member_id=member.id,verdict='APPROVED')}}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-arrow-alt-circle-right fa-sm text-white-50"></i> Approve Guarantor</a>
    </div>

  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3 py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary"> Guarantor Profile</h6>
        </div>
        <div class="card-body">
          <div class="text-center">
            <img class="img-profile rounded-circle shadow-sm" width="125px" height="125px" src="http://127.0.0.1:5000/static/ids/{{member.photo}}">
          </div>
          <div class="card-body">
            <div class="list-group">
              <li class="list-group-item pt-2 pb-2 mt-1">
                <span class="">Name:</span> <span class="text-gray-800 font-weight-bold ml-2"> {{member.first_name}} {{member.last_name}}</span>
              </li>
            </div>
            <div class="list-group">
              <li class="list-group-item pt-2 pb-2 mt-1">
                <span class="">National ID:</span> <span class="text-gray-800 font-weight-bold ml-2">{{member.national_id}}</span>
              </li>
            </div>
            <div class="list-group">
              <li class="list-group-item pt-2 pb-2 mt-1">
                <span class="">Phone Number:</span> <span class="text-gray-800 font-weight-bold ml-2">{{member.phone_number}}</span>
              </li>
            </div>
            <div class="list-group">
              <li class="list-group-item pt-2 pb-2 mt-1">
                <span class="">Email:</span> <span class="text-gray-800 font-weight-bold ml-2">{{member.email}}</span>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-12 col-md-12 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Shares</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">KES 1000</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-auto">
        <!-- Number of sessions -->
        <div class="col-xl-6 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">number of Existing Loans</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">3</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- number of students trained monthly -->
        <div class="col-xl-6 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Guarantored Loan</div>
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"> 7</div>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; KENVERSITY SACCO <span id="year"></span> </span>
              <script>
                  document.getElementById("year").innerHTML=new Date().getFullYear();
              </script>
    </div>
  </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

{%endblock content%}
