<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="KENVERSITY portal">
  <meta name="author" content="Allan Sifuna Namasaka">

  <title>KENVERSITY SACCO</title>

  <!-- Custom fonts for this template-->
  <link href="{{url_for('static',filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <!-- <link href="{{url_for('static',filename='css/styles.css')}}" rel="stylesheet"> -->
  <link href="{{url_for('static',filename='css/sb-admin-2.css')}}" rel="stylesheet">
  <script src="{{url_for('static',filename='vendor/chart.js/Chart.min.js')}}"></script>
  <link href="{{url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">

        <!-- <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" /> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.27.0/feather.min.js" crossorigin="anonymous"></script>
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{url_for('staff.dashboard')}}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">KENVERSITY <sup> SACCO </sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('staff.dashboard')}}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Interface
      </div>
      <li class="nav-item">
        <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#members" aria-expanded="true" aria-controls="members">
          <i class="fas fa-fw fa-baseball-ball"></i>
          <span>Members:</span>
        </a>
        <div id="members" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
           <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Click to : </h6>
            <a class="collapse-item" href="{{url_for('staff.member_approvals')}}">Approve Members</a>
            <h6 class="collapse-header">Click to View: </h6>
            <a class="collapse-item" href="{{url_for('staff.view_members')}}">View Members</a>
          </div>
        </div>
      </li>
       <li class="nav-item">
        <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#loans" aria-expanded="true" aria-controls="loans">
          <i class="fas fa-fw fa-baseball-ball"></i>
          <span>Loans:</span>
        </a>
        <div id="loans" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
           <div class="bg-white py-2 collapse-inner rounded">
            {%if current_user.role =="ADMINSTARTOR"%}
            <h6 class="collapse-header">Add functions</h6>
            <a class="collapse-item" href="{{url_for('staff.add_loan_categories')}}">Add Loan Categories</a>
            {%endif%}
            <h6 class="collapse-header">Click to Approve: </h6>
            <a class="collapse-item" href="{{url_for('staff.view_loans')}}">Loan Applications</a>
            <a class="collapse-item" href="{{url_for('staff.view_staff_loans')}}">Pending Loan Approvals</a>
            {%if current_user.role == "ADMINSTARTOR"%}
              <h6 class="collapse-header">Click to Disburse: </h6>
            <a class="collapse-item" href="{{url_for('staff.loan_disburse')}}">Disburse Loans</a>
            {%endif%}
            <h6 class="collapse-header">Click to View: </h6>
            <a class="collapse-item" href="{{url_for('staff.view_my_disbursed_loans',staff_id=current_user.id)}}">Disbursed Loans</a>
            {%if current_user.role =="ADMINSTARTOR"%}
            <a class="collapse-item" href="{{url_for('staff.view_all_disbursed_loans')}}">All Disbursed Loans</a>
            {%endif%}
            <a class="collapse-item" href="{{url_for('staff.view_my_defaulted_loans',staff_id=current_user.id)}}">Defaulted Loans</a>
            {%if current_user.role =="ADMINSTARTOR"%}
            <a class="collapse-item" href="{{url_for('staff.view_all_defaulted_loans')}}">All Defaulted Loans</a>
            {%endif%}
          </div>
        </div>
      </li>
      {%if current_user.role !="ADMINSTARTOR"%}
       <li class="nav-item">
        <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#staff" aria-expanded="true" aria-controls="staff">
          <i class="fas fa-fw fa-baseball-ball"></i>
          <span>Tickets:</span>
        </a>
        <div id="staff" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
           <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Click to View: </h6>
            <a class="collapse-item" href="{{url_for('staff.view_all_tickets')}}">View Tickets</a>
          </div>
        </div>
      </li>
      {%endif%}
      {%if current_user.role =="ADMINSTARTOR"%}
       <li class="nav-item">
        <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#staff" aria-expanded="true" aria-controls="staff">
          <i class="fas fa-fw fa-baseball-ball"></i>
          <span>Staff:</span>
        </a>
        <div id="staff" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
           <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Click to Add: </h6>
            <a class="collapse-item" href="{{url_for('staff.add_staff')}}">Add Staff</a>
            <h6 class="collapse-header">Click to View: </h6>
            <a class="collapse-item" href="{{url_for('staff.view_staff')}}">View Staff</a>
          </div>
        </div>
      </li>
      {%endif%}

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          {%if search%}
          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="POST">
            {{search.hidden_tag()}}
            <div class="input-group">
              {{search.text(class="form-control bg-light border-0 small",placeholder="Search for...")}}
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>
          {%endif%}
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                {%if search%}
                <form class="form-inline mr-auto w-100 navbar-search" method="POST">
                  {{search.hidden_tag()}}
                  <div class="input-group">
                    {{search.text(class="form-control bg-light border-0 small",placeholder="Search for...")}}
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
                {%endif%}
              </div>
            </li>

                {%if note%}
            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">{{note[1]}}</span>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                {%for mnote in note[0]%}
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="{{url_for('static',filename='img/default.jpg')}}}" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">A new report from {{mnote.reporthub.name}} Hub.</div>
                    <div class="small text-gray-500">{{mnote.reportsubmitter.fname}} {{mnote.reportsubmitter.lname}}</div>
                  </div>
                </a>
                {%endfor%}

                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
              </div>
            </li>
            {%endif%}
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                <img class="img-profile rounded-circle" src="{{url_for('static',filename='img/default.jpg')}}">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('staff.staff_profile',staff_id=current_user.id)}}" >
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  My Account
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>

              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        {%block content%} {%endblock content%}

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{{url_for('staff.logout')}}">Logout</a>
        </div>
      </div>
    </div>
  </div>



  <!-- Bootstrap core JavaScript-->
  <script>
  feather.replace()
</script>
  <script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{url_for('static',filename='js/sb-admin-2.js')}}"></script>
  <!-- Page level plugins -->
  <script src="{{url_for('static',filename='vendor/datatables/jquery.dataTables.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>

  <!-- Page level custom scripts -->
  <script src="{{url_for('static',filename='js/datatables-demo.js')}}"></script>
  <!-- Page level plugins -->


  <!-- Page level custom scripts -->
  {%block chart%}{%endblock chart%}
</body>

</html>
