{%extends 'layout.html'%}
{%block content%}

<!-- Begin Page Content -->
<div class="container-fluid">
  {%with messages= get_flashed_messages(with_categories=true)%}
  {%if messages%}
  {%for category,message in messages%}
  <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {%endfor%}
  {%endif%}
  {%endwith%}
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">MEMBER PROFILE
    {%if member.status ==  "ACTIVE"%}
      <span class="badge badge-success pl-2 pr-2 ml-2"> ACTIVE</span>
    {%elif member.status ==  "DEACTIVATED"%}
      <span class="badge badge-danger pl-2 pr-2 ml-2"> DEACTIVATED</span>
    {%else%}
      <span class="badge badge-warning pl-2 pr-2 ml-2"> INACTIVE</span>
    {%endif%}
    </h1>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3 py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">{{member.first_name}}'s Profile</h6>

          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item text-primary" href="{{url_for('staff.view_member_loans',member_id=member.id)}}">View Loans</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-primary" href="{{url_for('staff.download_member_profile',member_id=member.id)}}">Download Member Profile</a>
              {%if member.status == "ACTIVE"%}
              <div class="dropdown-divider"></div>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger" href="{{url_for('staff.delete_member',member_id=member.id)}}">Delete Member</a>
              {%else%}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-success" href="{{url_for('staff.activate_member',member_id=member.id)}}">Activate Member</a>
              {%endif%}
            </div>

          </div>
        </div>
        <div class="card-body">
          <div class="text-center">
            <img class="img-profile rounded-circle shadow-sm" width="125px" height="125px" src="http://127.0.0.1:5000/static/ids/{{member.photo}}">
          </div>
          <div class="card-body">
            <div class="list-group">
              <li class="list-group-item pt-2 pb-2 mt-1">
                <span class="">Member No:</span> <span class="text-gray-800 font-weight-bold ml-2"> {{member.memberNo}}</span>
              </li>
            </div>
            <div class="list-group">
              <li class="list-group-item pt-2 pb-2 mt-1">
                <span class="">Name:</span> <span class="text-gray-800 font-weight-bold ml-2"> {{member.first_name}} {{member.last_name}}</span>
              </li>
            </div>
            <div class="list-group">
              <li class="list-group-item pt-2 pb-2 mt-1">
                <span class="">National ID:</span> <span class="text-gray-800 font-weight-bold ml-2">{{member.national_id}}</span>
              </li>
            </div>
            <div class="list-group">
              <li class="list-group-item pt-2 pb-2 mt-1">
                <span class="">Phone Number:</span> <span class="text-gray-800 font-weight-bold ml-2">{{member.phone_number}}</span>
              </li>
            </div>
            <div class="list-group">
              <li class="list-group-item pt-2 pb-2 mt-1">
                <span class="">Email:</span> <span class="text-gray-800 font-weight-bold ml-2">{{member.email}}</span>
              </li>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
      <div class="col-md-12 col-xs-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3 py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Employment Information</h6>
        </div>
        <div class="card-body">
          <div class="card-body">
            {% if member.employment_status == "Self-Employed"%}
            <div class="list-group">
              <li class="list-group-item pt-2 pb-2 mt-1">
                <span class="">Employment Status:</span> <span class="text-gray-800 font-weight-bold ml-2"> {{member.employment_status}}</span>
              </li>
            </div>
            <div class="list-group">
              <li class="list-group-item pt-2 pb-2 mt-1">
                <span class="">Business Type:</span> <span class="text-gray-800 font-weight-bold ml-2">{{member.business_type}}</span>
              </li>
            </div>
            <div class="list-group">
              <li class="list-group-item pt-2 pb-2 mt-1">
                <span class="">Years In Operation:</span> <span class="text-gray-800 font-weight-bold ml-2">{{member.years_of_operation}}</span>
              </li>
            </div>
            <div class="list-group">
              <li class="list-group-item pt-2 pb-2 mt-1">
                <span class="">Business Income:</span> <span class="text-gray-800 font-weight-bold ml-2">KES {{member.business_income | format_currency}}</span>
              </li>
            </div>
            {%else%}
              <div class="list-group">
              <li class="list-group-item pt-2 pb-2 mt-1">
                <span class="">Employer Name:</span> <span class="text-gray-800 font-weight-bold ml-2">{{member.employer_name}}</span>
              </li>
            </div>
            <div class="list-group">
              <li class="list-group-item pt-2 pb-2 mt-1">
                <span class="">Employer Address:</span> <span class="text-gray-800 font-weight-bold ml-2">{{member.employer_address}}</span>
              </li>
            </div>
            <div class="list-group">
              <li class="list-group-item pt-2 pb-2 mt-1">
                <span class="">Employer Telephone:</span> <span class="text-gray-800 font-weight-bold ml-2">{{member.employer_phone}}</span>
              </li>
            </div>
            <div class="list-group">
              <li class="list-group-item pt-2 pb-2 mt-1">
                <span class="">Employment Terms:</span> <span class="text-gray-800 font-weight-bold ml-2">{{member.employment_terms}}</span>
              </li>
            </div>
            <div class="list-group">
              <li class="list-group-item pt-2 pb-2 mt-1">
                <span class="">Retirement Date:</span> <span class="text-gray-800 font-weight-bold ml-2">
                {% if member.retirement_date%}
                {{member.retirement_date.strftime('%d-%m-%Y')}}
                {%endif%}
              </span>
              </li>
            </div>
            {%endif%}
            <div class="list-group">
              <li class="list-group-item pt-2 pb-2 mt-1">
                <span class="">Bank Name:</span> <span class="text-gray-800 font-weight-bold ml-2">{{member.bank_name}}</span>
              </li>
            </div>
            <div class="list-group">
              <li class="list-group-item pt-2 pb-2 mt-1">
                <span class="">Bank Account No:</span> <span class="text-gray-800 font-weight-bold ml-2">{{member.bank_account}}</span>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    <div class="col-md-6 mb-4">
      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-12 col-md-12 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Shares</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">KES {{Member.get_shares(member.id) | format_currency}}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-auto">
        <!-- Number of sessions -->
        <div class="col-xl-6 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">number of Existing Loans</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{Member.get_loans(member.id)}}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- number of students trained monthly -->
        <div class="col-xl-6 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Loans Guaranteed</div>
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"> {{Member.get_loans_guaranteed(member.id)}}</div>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-12 col-md-12 mb-4">
      <div class="card shadow mb-4">
        <div class="card-header py-3 py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Bio Data</h6>
        </div>
        <div class="card-body">
          <div class="card-body">
            <div class="list-group">
              <li class="list-group-item pt-2 pb-2 mt-1">
                <span class="">Date Of Birth:</span> <span class="text-gray-800 font-weight-bold ml-2">
                  {%if member.dob%}
                {{member.dob.strftime("%d-%m-%Y")}}
                {%endif%}
              </span>
              </li>
            </div>
            <div class="list-group">
              <li class="list-group-item pt-2 pb-2 mt-1">
                <span class="">Gender:</span> <span class="text-gray-800 font-weight-bold ml-2">{{member.gender}}</span>
              </li>
            </div>
            <div class="list-group">
              <li class="list-group-item pt-2 pb-2 mt-1">
                <span class="">Marital Status:</span> <span class="text-gray-800 font-weight-bold ml-2">{{member.marital_status}}</span>
              </li>
            </div>
            <div class="list-group">
              <li class="list-group-item pt-2 pb-2 mt-1">
                <span class="">Number Of Dependants:</span> <span class="text-gray-800 font-weight-bold ml-2">{{member.number_of_dependants}}</span>
              </li>
            </div>
            <div class="list-group">
              <li class="list-group-item pt-2 pb-2 mt-1">
                <span class="">Physical Address:</span> <span class="text-gray-800 font-weight-bold ml-2">{{member.address}}</span>
              </li>
            </div>
            <div class="list-group">
              <li class="list-group-item pt-2 pb-2 mt-1">
                <span class="">Town:</span> <span class="text-gray-800 font-weight-bold ml-2">{{member.town}}</span>
              </li>
            </div>
            <div class="list-group">
              <li class="list-group-item pt-2 pb-2 mt-1">
                <span class="">Street:</span> <span class="text-gray-800 font-weight-bold ml-2">{{member.street}}</span>
              </li>
            </div>
            <div class="list-group">
              <li class="list-group-item pt-2 pb-2 mt-1">
                <span class="">Estate:</span> <span class="text-gray-800 font-weight-bold ml-2">{{member.estate}}</span>
              </li>
            </div>
            <div class="list-group">
              <li class="list-group-item pt-2 pb-2 mt-1">
                <span class="">House Number:</span> <span class="text-gray-800 font-weight-bold ml-2">{{member.house_number}}</span>
              </li>
            </div>
            <div class="list-group">
              <li class="list-group-item pt-2 pb-2 mt-1">
                <span class="">House Ownership:</span> <span class="text-gray-800 font-weight-bold ml-2">{{member.house_ownership}}</span>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>

      </div>

    </div>

    <div class="row">


  </div>
  </div>
</div>


<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; KENVERSITY SACCO <span id="year"></span> </span>
              <script>
                  document.getElementById("year").innerHTML=new Date().getFullYear();
              </script>
    </div>
  </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

{%endblock content%}
