{%extends 'layout.html'%}
{%block content%}
<div class="container-fluid">
    {%with messages= get_flashed_messages(with_categories=true)%}
        {%if messages%}
            {%for category,message in messages%}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {%endfor%}
        {%endif%}
    {%endwith%}
    <div class="card shadow mb-4">
        <div class="card-header py-3 py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">STAFF</h6>
            <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">

          <div class="dropdown-divider"></div>
              <a class="dropdown-item text-primary" href="{{url_for('staff.download_staff')}}">Download Report</a>
            </div>

          </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No#</th>
                            <th>Staff No</th>
                            <th>National ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for num,staf in staff.items()%}
                            <tr>
                            <td>{{num}}</td>
                            <td>{{staf.staffNo}}</td>
                            <td>{{staf.national_id}}</td>
                            <td> <a href="{{url_for('staff.staff_profile',staff_id=staf.id)}}">{{staf.first_name}} {{staf.last_name}}</a></td>
                            <td>{{staf.email}}</td>
                            <td>{{staf.phone_number}}</td>
                            <td>
                                {% if staf.status == "ACTIVE"%}
                                    <span class="font-weight-bold text-primary">{{staf.status}}</span>
                                {%elif staf.status == "INACTIVE"%}
                                    <span class="font-weight-bold text-warning">{{staf.status}}</span>
                                {%else%}
                                    <span class="font-weight-bold text-danger">{{staf.status}}</span>
                                {%endif%}
                            </td>
                        </tr>
                        {%endfor%}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{%endblock%}
