{%extends 'layout.html'%}
{%block content%}
<div class="container-fluid">
    {%with messages= get_flashed_messages(with_categories=true)%}
        {%if messages%}
            {%for category,message in messages%}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {%endfor%}
        {%endif%}
    {%endwith%}
    <div class="card shadow mb-4">
        <div class="card-header py-3 py-3 d-flex flex-row align-items-center justify-content-between">
            {%if defaulted%}
                <h6 class="m-0 font-weight-bold text-danger">DEFAULTED LOANS</h6>
            {%else%}
                <h6 class="m-0 font-weight-bold text-primary">DISBURSED LOANS</h6>
            {%endif%}
            <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">

          <div class="dropdown-divider"></div>
                {%if defaulted%}
                    {%if not all_def%}
                    <a class="dropdown-item text-primary" href="{{url_for('staff.download_defaulted_loans')}}">Download Report</a>
                    {%else%}
                    <a class="dropdown-item text-primary" href="{{url_for('staff.download_all_defaulted_loans')}}">Download Report</a>
                    {%endif%}
                {%else%}
                    {%if not all_dis%}
                    <a class="dropdown-item text-primary" href="{{url_for('staff.download_disbursed_loans')}}">Download Report</a>
                    {%else%}
                    <a class="dropdown-item text-primary" href="{{url_for('staff.download_all_disbursed_loans')}}">Download Report</a>
                    {%endif%}
                {%endif%}
            </div>

          </div>
        </div>

        <div class="card-body m-0">
            <div class="table-responsive">
                <table class="table table-bordered small" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Loan NO</th>
                            <th>Nat ID</th>
                            <th>Name</th>
                            <th>Loan</th>
                            <th>Amount</th>
                            <th>Amount Paid</th>
                            <th>Amount Due</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Status</th>
                            {%if not_all%}
                            <th>Repayments</th>
                            {%else%}
                            <th>Approved By</th>
                            {%endif%}
                        </tr>
                    </thead>
                    <tbody>
                        {%for num,loan in loans.items()%}
                            <tr>
                            <td>{{loan.loanNo}}</td>
                            <td>{{loan.loan_applier.national_id}}</td>
                            <td>{{loan.loan_applier.first_name}} {{loan.loan_applier.last_name}}</td>
                            <td>{{loan.loan_cat.name}}</td>
                            <td>KES {{loan.amount | format_currency}}</td>
                            <td>KES {{(loan.amount - Loan.get_remaining_amount(loan.id)) | format_currency}}</td>
                            <td>KES {{Loan.get_remaining_amount(loan.id) | format_currency}}</td>
                            <td>{{loan.start_date.strftime('%d-%m-%Y')}}</td>
                            <td>{{loan.end_date.strftime('%d-%m-%Y')}}</td>
                            <td>
                                {%if today > loan.end_date and Loan.get_remaining_amount(loan.id)>0%}
                                    <span class="text-danger font-weight-bold"> DEFAULTED</span>
                                {%elif loan.status == "FULFILLED" or Loan.get_remaining_amount(loan.id)<=0 %}
                                    <span class="text-success font-weight-bold"> FULFILLED</span>
                                {%else%}
                                    <span class="text-primary font-weight-bold"> IN PROGRESS</span>
                                {%endif%}
                            </td>
                            {%if not_all%}
                            <td> <a href="{{url_for('staff.view_loan_repayments',loan_id=loan.id)}}" class="btn text-success btn-sm bg-light border-bottom-success border-top border-left border-right p-1 pl-4 pr-4" >view</a></td>
                            {%else%}
                            <td>{{loan.loan_approver.first_name}} {{loan.loan_approver.last_name}}</td>
                            {%endif%}
                        </tr>
                        {%endfor%}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{%endblock%}
