{%extends 'layout.html'%}
{%block content%}
<div class="container-fluid">
      {%with messages= get_flashed_messages(with_categories=true)%}
              {%if messages%}
              {%for category,message in messages%}
              <div class="alert alert-{{category}} alert-dismissible fade show",role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span
                  </button>
                </div>
                {%endfor%}
                {%endif%}
                {%endwith%}
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">PENDING LOAN APPROVALS</h6>

                </div>

                <div class="card-body">
                    <div class="table-responsive">
                    <table class="table table-bordered small" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Loan No</th>
                                                    <th>National ID</th>
                                                    <th>Name</th>
                                                    <th>Loan Category</th>
                                                    <th>Amount</th>
                                                    <th>Profile</th>
                                                    <th>Guarantors</th>
                                                    <th>Collaterals</th>
                                                    <th>Approve For Disbursement</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {%for num,loan in loans.items()%}
                                                    <tr>
                                                    <td>{{loan.loanNo}}</td>
                                                    <td>{{loan.loan_applier.national_id}}</td>
                                                    <td>{{loan.loan_applier.first_name}} {{loan.loan_applier.last_name}}</td>
                                                    <td>{{loan.loan_cat.name}}</td>
                                                    <td>KES {{loan.amount}}</td>
                                                    <td>
                                                        {%if loan.profile_status == "UNAPPROVED"%}
                                                            <a href="{{url_for('staff.approve_loan',loan_id=loan.id)}}" class="btn text-primary btn-sm bg-light border-bottom-primary border-top border-left border-right" >Approve Profile</a>
                                                        {%else%}
                                                            <span class="text-primary font-weight-bold ml-2">{{loan.profile_status}}</span>
                                                        {%endif%}
                                                    </td>
                                                    <td>
                                                        {%if has_gs[num]%}
                                                            {%if loan.guarantor_status == "UNAPPROVED"%}
                                                                <a href="{{url_for('staff.view_guarantors',loan_id=loan.id)}}" class="btn text-info btn-sm bg-light border-bottom-info border-top border-left border-right" >Approve Guarantors</a>
                                                            {%else%}
                                                              {%if loan.guarantor_status == "DECLINED"%}
                                                                <span class="text-danger font-weight-bold ml-2">{{loan.guarantor_status}}</span>
                                                              {%else%}
                                                                <span class="text-success font-weight-bold ml-2">{{loan.guarantor_status}}</span>
                                                              {%endif%}
                                                            {%endif%}
                                                        {%else%}
                                                            <span class="text-secondary font-weight-bold ml-2">NO GUARANTORS</span>
                                                        {%endif%}
                                                    </td>
                                                    <td>
                                                        {%if has_cols[num]%}
                                                            {%if loan.collateral_status == "UNAPPROVED"%}
                                                                <a href="{{url_for('staff.view_collaterals',loan_id=loan.id)}}" class="btn text-success btn-sm bg-light border-bottom-success border-top border-left border-right" >Approve Collaterals</a>
                                                            {%else%}
                                                                {%if loan.collateral_status == "DECLINED"%}
                                                                    <span class="text-danger font-weight-bold ml-2">{{loan.collateral_status}}</span>
                                                                  {%else%}
                                                                    <span class="text-success font-weight-bold ml-2">{{loan.collateral_status}}</span>
                                                                  {%endif%}
                                                            {%endif%}
                                                        {%else%}
                                                            <span class="text-secondary font-weight-bold ml-2">NO COLLATERALS</span>
                                                        {%endif%}
                                                    </td>
                                                    <td>
                                                        {%if loan.status !=  "APPROVED"%}
                                                            {%if loan.profile_status == "APPROVED" and loan.guarantor_status == "APPROVED" %}
                                                                <a href="{{url_for('staff.recommend_disbursement',loan_id=loan.id)}}" class="btn text-primary btn-sm bg-light border-bottom-primary border-top border-left border-right m-auto m-0" >Approve</a>
                                                            {%else%}
                                                                <span class="text-primary font-weight-bold ml-2">--</span>
                                                            {%endif%}
                                                        {%else%}
                                                            <span class="text-secondary font-weight-bold ml-2">APPROVED</span>
                                                        {%endif%}
                                                    </td>

                                                </tr>
                                                {%endfor%}

                                            </tbody>
                                        </table>
                                        </div>
                                    </div>



                                                                                           <!-- Dashboard Tab Pane 2-->

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </main>

    </div>
{%endblock%}
