{%extends 'layout.html'%}
{%block content%}
<div class="container-fluid mt-n10">
    <div class="d-sm-flex align-items-center justify-content-between mb-2">
    <h4 class="h4 mb-0 text-gray-800"> MEMBER DEPOSITS</h4>
    <div class="d-none d-sm-inline-block">
      <a href="{{url_for('member.download_deposits',member_id=current_user.id)}}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-arrow-alt-circle-down fa-sm text-white-50"></i> Download</a>
    </div>

  </div>
    <!-- Tabbed dashboard card example-->
    <div class="card mb-4">
        <div class="card-body">
            <div class="tab-content" id="dashboardNavContent">
                <!-- Dashboard Tab Pane 1-->
                <div class="tab-pane fade show active" id="production" role="tabpanel" aria-labelledby="production-pill">
                    <div class="datatable table-responsive">
                        <table class="table table-bordered table-hover display" id="" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>No#</th>
                                    <th>Date Deposited</th>
                                    <th>Mpesa Code</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for num,deposit in ds.items()%}
                                    <tr>
                                        <td>{{num}}</td>
                                    <td>{{deposit.deposit_date.strftime('%Y-%m-%d %I:%M %p')}}</td>
                                    <td>
                                        {{deposit.deposit_transaction.transaction_code}}
                                    </td>
                                    <td>KES {{deposit.amount}}.00</td>
                                </tr>
                                {%endfor%}

                            </tbody>
                        </table>
                    </div>
                </div>



                                                                       <!-- Dashboard Tab Pane 2-->

            </div>
        </div>
    </div>

</div>
{%endblock%}
