{%extends 'layout.html'%}
{%block content%}
<div class="container-fluid mt-n10">
    <!-- Tabbed dashboard card example-->
    <div class="card mb-4">
        <div class="card-header border-bottom">
            <h6 class="m-0 font-weight-bold text-primary">MY TRANSACTIONS</h6>
        </div>
        <div class="card-body">
            <div class="tab-content" id="dashboardNavContent">
                <!-- Dashboard Tab Pane 1-->
                <div class="tab-pane fade show active" id="production" role="tabpanel" aria-labelledby="production-pill">
                    <div class="datatable table-responsive">
                        <table class="table table-bordered table-hover display" id="" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>No#</th>
                                    <th>Transaction Date</th>
                                    <th>Mpesa Code</th>
                                    <th>Amount</th>
                                    <th>Reason</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for num,transaction in ts.items()%}
                                    <tr>
                                    <td>{{num}}</td>
                                    <td>{{transaction.date_created.strftime('%Y-%m-%d %I:%M %p')}}</td>
                                    <td>{{transaction.transaction_code}}</td>
                                    <td>KES {{transaction.amount}}.00</td>
                                    <td>
                                        {%if transaction.reason == "REG" %}
                                        <span class="text-info">REGISTRATION</span>
                                        {%elif transaction.reason == "DEP" %}
                                        <span class="text-success">DEPOSIT</span>
                                        {%elif transaction.reason == "REP"%}
                                        REPAYMENT
                                        {%else%}
                                        Miscalleneous
                                        {%endif%}


                                    </td>
                                </tr>
                                {%endfor%}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
